*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%
}

.d-main{
    width: 100%;
    height: 100%;
    background-image: url(@WallpapersFreeHD\ 357.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d1{

    width: 100%;
    height: 60%;
    padding-left: 50px;

}

h5{
    font-size: 20px;
}

h1{
    font-size: 55px;
}

p{
    font-size: 25px;

}

.airdopes{
    height: 300px;
    width: 380px;
    position: absolute;
    left: 75%;
    top: 30%;
}

.btn{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: rgb(239, 185, 138);
}

  
  @media screen and (max-width: 1440px) {
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 22px;
    }
    .airdopes {
      height: 260px;
      width: 330px;
      left: 70%;
      top: 35%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .d1 {
      padding-left: 30px;
    }
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
    .airdopes {
      height: 240px;
      width: 300px;
      left: 60%;
      top: 40%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .airdopes {
      display: none; 
    }
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 18px;
    }
    .btn {
      width: 100px;
      height: 40px;
    }
  }
  