*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    
}

.d1{
    width: 100%;
    height: 100%;
    background-color: rgb(6, 15, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(15, 152, 231);
}

.d-main{
    width: 70%;
    max-width: 900px;
    height: auto;
    padding: 20px;
}

.d-head{
    height: 30%;
    width: 100%;
}

p{
    font-size: large;
    color: beige;
}

.d-elements{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 900px;
}

.box1{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #00bcd4;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 13px;
}