*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    
} 

.d-main-1{
    width: 100%;
    height: 200%;
    gap: 10px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.d1{
    width: 100%;
    height: 50%;
    padding: 10px;
    background-color: bisque;
    display: flex;
    gap: 10px;
}

.left{
    width: 90%;
    height: 100%;
    background-color: bisque;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.left-top{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 10px;
    background-color: bisque;
    
}

.top-left{
    width: 70%;
    height: 100%;
    text-align: center;
    background-color: rgb(155, 56, 38);
}

.top-right{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: bisque;
    
}

.right-top{
    width: 100%;
    height: 75%;
    padding-bottom: 10px;
    text-align: center;
    background-color: tomato;
}

.right-bottom{
    width: 100%;
    height: 25%;
    text-align: center;
    background-color: rgb(185, 152, 146);
}

.left-middle{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: bisque;
    gap: 10px;
}

.middle-left{
    width: 30%;
    height: 100%;
    text-align: center;
    background-color: rgb(206, 71, 255);
}

.middle-right{
    width: 70%;
    height: 100%;
    text-align: center;
    background-color: rgb(239, 10, 25);
}

.left-bottom{
    width: 100%;
    height: 25%;
    display: flex;
    gap: 10px;
    background-color: bisque;
}

.bottom-left{
    width: 33.33%;
    height: 100%;
    text-align: center;
    background-color: rgb(10, 141, 62);

}

.bottom-center{
    width: 33.33%;
    text-align: center;
    height: 100%;
    background-color: rgb(11, 43, 3);
}

.bottom-right{
    width: 33.33%;
    height: 100%;
    text-align: center;
    background-color: rgb(177, 216, 18);
}

.right{
    width: 10%;
    height: 100%;
    text-align: center;
    background-color: rgb(42, 58, 15);
}

.d-main-2{
    width: 100%;
    height: 50%;
    background-color: bisque;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

header{
    width: 100%;
    height: 10%;
    text-align: center;
    border-radius: 15px;
    background-color: tomato;
}

.d1-2pg{
    width: 100%;
    height: 60%;
    gap: 10px;
    display: flex;
}
.d-left-2pg{
    width: 40%;
    height: 100%;
    gap: 10px;
    display:flex ;
    flex-direction: column;
}

.hero{
    width: 100%;
    height: 40%;
    background-color: aqua;
    border-radius: 15px;
    text-align: center;
}

.sidebar{
    width: 100%;
    height: 60%;
    background-color: aqua;
    border-radius: 15px;
    text-align: center;
}

.d-right-2pg{
    width: 60%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.main-cont{
    width: 100%;
    height: 70%;
    background-color: aqua ;
    border-radius: 15px;
    text-align: center;
}

.extra-contex{
    width: 100%;
    height: 30%;
    background-color: aqua;
    border-radius: 15px;
    text-align: center;
}

.d2-2pg{
    width: 100%;
    height: 20%;
    gap: 10px;
    display: flex;
}

.related-images{
    width: 60%;
    height: 100%;
    background-color: aqua;
    border-radius: 15px;
    text-align: center;
}

.related-post{
    width: 40%;
    height: 100%;
    background-color: aqua;
    text-align: center;
    border-radius: 15px
}

footer{
    width: 100%;
    height: 10%;
    background-color: tomato ;
    text-align: center;
    border-radius: 15px;
}

