*{
    margin: 0%;
    padding: 0%;
    box-sizing:content-box;
}
 html,body{
    width: 100%;
    height: 100%;
 }

 .header{
    text-decoration: dashed;
 }


.d1{
    height: 100%;
    width: 100%;
    background-image: url(fruitsbg.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#username{
    font-size:medium;
    text-align: center;
    background-color: rgba(31, 30, 29, 0);
    font-family: Arial;
    border-top: none ;
    border-left: none ;
    border-right: none ;
    border-bottom: 1px light black;

}

#password{
    font-size: medium;
    background-color: rgba(171, 162, 154, 0);
    font-family: Arial;
    border-top: none ;
    border-left: none ;
    border-right: none ;
    border-bottom: 1px light black;

}

#user-name{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: large;

}

#pass-word{    
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: large;
 
}


.main-content{
    width: 40%;
    height: 30%;
    padding-top: 5%;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(240, 233, 233, 0.344);  
    /* padding-left: 100px; */

}

.btn{
    
        padding: 12px 24px; 
        font-size: 18px; 
        width: 80px; 
        height: 35px; 
        border-radius: 8px; 
        background-color: rgba(222, 184, 135, 0.686);
    
    

}