*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;

}

.d-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 40%;
    height: 90%;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1px;
}

.d1{
    width: 100%;
    height: 20%;
    display: flex;
}

.d1-left{
    width: 60%;
    height: 100%;
}

.d1-right{
    width: 40%;
    height: 100%;
}

.btn1{
    width: 90px;
    height: 35px;
    background-color: rgb(8, 102, 208);
    border: none;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
}

.d2{
    width: 100%;
    height: 20%;
    display: flex;
    /* border: 1px solid black; */
    background-color: rgb(215, 233, 250);
    border-radius: 15px;
    /* padding: 5px; */
}

.d2-left{
    width: 20%;
    height: 100%;
}

.d2-right{
    width: 80%;
    height: 100%;
}

.d3{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    width: 100%;
    height: 10%;
    /* padding: 15px; */

}

.d3-bottom{
    width: 100%;
    height: 90%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: aqua; */
    gap: 30px;
}

.d3-left{
    width: 33.33%;
    height: 100%;
    padding-left: 50px;
    background-color: pink;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.d3-center{
    background-color: pink;
    width: 33.33%;
    padding-left: 50px;
    height: 100%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.d3-right{
    background-color: pink;
    width: 33.33%;
    padding-left: 50px;
    height: 100%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.d4{
    width: 100%;
    height: 30%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.d4-head{
    width: 100%;
    height: 10%;
}

.d4-bottom{
    width: 100%;
    height: 80%;
    display: flex;
    padding: 10px;
    background-color: peachpuff;
    border-radius: 20px;
}

.d4-left{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.d4-right{
    width: 80%;
    height: 100%;

}
.btn2{
        width: 90px;
        height: 35px;
        color: rgb(5, 7, 84);
        background-color: rgb(8, 102, 208);
        border: none;
        border-radius: 10px;
        margin: 5px;
    
}
